<!DOCTYPE html>
<html ng-app>
<head>
	<title>Chapter Two - A Simple Recipe Book</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div app>
	<div class="toolbar">
		<i class="new" ng-click="ctrl.newShape()"></i>
		<i class="new"></i>
		<i class="new"></i>
	</div>
	<div class="content">
		<div class="canvas">

			<svg height="300" ng-mousemove="ctrl.drag($event)" ng-mouseup="ctrl.dragEnd()" ng-mousedown="ctrl.panStart($event)"
					 ng-mousewheel="ctrl.zoom($event)">
				<g transform="translate({{ctrl.panX}},{{ctrl.panY}}), scale({{ctrl.scale}})" >
					<defs><marker id="myMarker" viewBox="0 0 10 10" refX="1" refY="5"
					              markerUnits="strokeWidth" orient="auto"
					              markerWidth="4" markerHeight="3">
						<polyline points="0,0 10,5 0,10 1,5" />
					</marker></defs>


					<rect ng-repeat="shape in ctrl.shapes" ng-click="ctrl.selectShape(shape)"
						    width="{{shape.width}}" height="{{shape.height}}"
						    x="{{shape.x+0.5}}" y="{{shape.y+0.5}}"
						    rx="{{shape.rounding}}"
						    transform="rotate({{shape.rotation}} {{shape.x + shape.width/2}} {{shape.y + shape.height/2}})"
						    style="fill: {{shape.color}}; stroke: {{shape.strokeColor}}; stroke-width: {{shape.strokeWidth}}"></rect>
					<line x1="{{ctrl.selectedShape.x+ctrl.selectedShape.width/2}}"
					      y1="{{ctrl.selectedShape.y+ctrl.selectedShape.height/2}}"
					      x2="{{ctrl.selectedShape.x+ctrl.selectedShape.width/2+40}}"
					      y2="{{ctrl.selectedShape.y+ctrl.selectedShape.height/2}}"
					      stroke="black" stroke-width="6" marker-end="url(#myMarker)"

								ng-mousedown="ctrl.dragStartX($event)"

								/>
					<line x1="{{ctrl.selectedShape.x+ctrl.selectedShape.width/2}}"
					      y1="{{ctrl.selectedShape.y+ctrl.selectedShape.height/2}}"
					      x2="{{ctrl.selectedShape.x+ctrl.selectedShape.width/2}}"
					      y2="{{ctrl.selectedShape.y+ctrl.selectedShape.height/2-40}}"
					      stroke="black" stroke-width="6" marker-end="url(#myMarker)"
					      ng-mousedown="ctrl.dragStartY($event)"/>
				</g>
			</svg>
		</div>
		<div class="sidebar">
			<div class="om">
				<div class="tabSelector">
					<span class="active" >Objects </span>

					<span></span>
				</div>
				<ul>
					<li ng-repeat="shape in ctrl.shapes" ng-class="{selected: shape==ctrl.selectedShape}"
					    ng-click="ctrl.selectShape(shape)" contenteditable="{{shape==ctrl.selectedShape}}"> {{shape.name}}</li>
				</ul>
			</div>
			<div class="am">
				<div class="tabSelector">
					<span ng-class="{active:ctrl.amTabSel=='shape' }" ng-click="ctrl.amTabSel='shape'">Shape </span>
					<span ng-class="{active:ctrl.amTabSel=='style' }" ng-click="ctrl.amTabSel='style'">Style </span>
					<span></span>
				</div>
				<div ng-class="{active:ctrl.amTabSel=='shape' }" class="shape">
					<range name="X" number="ctrl.selectedShape.x"></range>
					<range name="Y" number="ctrl.selectedShape.y"></range>
					<br />
					<range name="Width" number="ctrl.selectedShape.width"></range>
					<range name="Height" number="ctrl.selectedShape.height"></range>
					<br/>
					<range name="Stroke Width" number="ctrl.selectedShape.rounding"></range>
				</div>
				<div ng-class="{active:ctrl.amTabSel=='style' }" class="style">

					<label>
						<span>Stroke colour</span>
						<input type="color" ng-model="ctrl.selectedShape.color"/>
					</label>
					<br/>
					<label>
						<span>Stroke colour</span>
						<input type="color" ng-model="ctrl.selectedShape.strokeColor"/>
					</label>
					<br/>
						<range name="Stroke width" number="ctrl.selectedShape.strokeWidth"></range>

				</div>
			</div>
		</div>
	</div>
</div>

<script type="application/dart" src="main.dart"></script>
<script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>