$canvasBg: #Fff
$sidebarBg: #F5F5F5
$border: #CCCCCC

html
  height: 100%
body
  margin: 0
  font-size: 12px
*[app]
  margin: 0
  height: 100vh
  display: flex
  flex-direction: column
.toolbar
  height: 48px
  background: $sidebarBg
  border-bottom: 1px solid $border

line:hover
  stroke: orange


.content
  flex: 1
  display: flex
  //background: $canvasBg
  .canvas
    flex: 1
    background: $canvasBg
  .sidebar
    color: #999999
    border-left: 1px solid $border
    font-family: sans-serif
    //font-weight: bold
    width: 300px
    background: $sidebarBg
    display: flex
    flex-direction: column
    //padding: 1px
    .am
      margin: 1px
      margin-bottom: 0px
      //padding-top: 20px
      flex: 1
      //width: 100%
      border: 1px solid $border
      //margin-top: 3px
      color: #999999
      overflow-y: auto

      label
        margin: 10px
        span
          width: 50px
          display: inline-block
    .om
      height: 200px
      border: 1px solid $border
      margin: 1px
      margin-bottom: 0px
      ul
        list-style: none
        padding: 0
        margin: 0
        li
          padding-left: 25px
          height: 24px
          line-height: 24px
          &:nth-child(odd)
            background: $sidebarBg
          &.selected
            background: darken($sidebarBg,5%)

i
  width: 32px
  height: 32px
  background: $border
  display: inline-block
  border-radius: 4px
  margin: 8px
  margin-right: 0px


hr
  border: none
  border-top: 1px solid $border

.shape
  display: none
  &.active
    display: block

.style
  display: none
  &.active
    display: block

.tabSelector
  height: 24px
  display: flex
  span
    background: #eee
    width: 100px
    display: inline-block
    //margin: -2px
    //padding: 5px
    height: 16px
    line-height: 16px
    text-align: center
    border-right: 1px solid $border
    //border-left: 1px solid #cccccc
    border-bottom: 1px solid $border
    &.active
      background: #F5F5F5
      border-bottom: 0px solid $border
    &:last-of-type
      flex: 1
      border-right: 0px solid $border
