html {
  height: 100%; }

body {
  margin: 0;
  font-size: 12px; }

*[app] {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.toolbar {
  height: 48px;
  background: whitesmoke;
  border-bottom: 1px solid #cccccc; }

line:hover {
  stroke: orange; }

.content {
  flex: 1;
  display: flex; }
  .content .canvas {
    flex: 1;
    background: white; }
  .content .sidebar {
    color: #999999;
    border-left: 1px solid #cccccc;
    font-family: sans-serif;
    width: 300px;
    background: whitesmoke;
    display: flex;
    flex-direction: column; }
    .content .sidebar .am {
      margin: 1px;
      margin-bottom: 0px;
      flex: 1;
      border: 1px solid #cccccc;
      color: #999999;
      overflow-y: auto; }
      .content .sidebar .am label {
        margin: 10px; }
        .content .sidebar .am label span {
          width: 50px;
          display: inline-block; }
    .content .sidebar .om {
      height: 200px;
      border: 1px solid #cccccc;
      margin: 1px;
      margin-bottom: 0px; }
      .content .sidebar .om ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .content .sidebar .om ul li {
          padding-left: 25px;
          height: 24px;
          line-height: 24px; }
          .content .sidebar .om ul li:nth-child(odd) {
            background: whitesmoke; }
          .content .sidebar .om ul li.selected {
            background: #e8e8e8; }

i {
  width: 32px;
  height: 32px;
  background: #cccccc;
  display: inline-block;
  border-radius: 4px;
  margin: 8px;
  margin-right: 0px; }

hr {
  border: none;
  border-top: 1px solid #cccccc; }

.shape {
  display: none; }
  .shape.active {
    display: block; }

.style {
  display: none; }
  .style.active {
    display: block; }

.tabSelector {
  height: 24px;
  display: flex; }
  .tabSelector span {
    background: #eeeeee;
    width: 100px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc; }
    .tabSelector span.active {
      background: whitesmoke;
      border-bottom: 0px solid #cccccc; }
    .tabSelector span:last-of-type {
      flex: 1;
      border-right: 0px solid #cccccc; }
